/* .editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 8px -3px #ababab;
    background: #fefefe;

    font-size: 18px;
    margin: 100px 200px;
} */

.editor {
    box-sizing: border-box;
    cursor: text;
    margin-bottom: 120px;

    font-size: 18px;
    font-family: serif !important;
    margin-bottom: 500px;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.editor :global(.public-DraftStyleDefault-ol) {
    padding-left: 30px;
}

.editor :global(.public-DraftStyleDefault-ul) {
    margin: 16px 0;
    padding: 0;
    padding-left: 20px;
}

.editor :global(.public-DraftStyleDefault-ol) {
    margin: 16px 0;
    padding: 0;
    padding-left: 20px;
}

.editor :global(.public-DraftEditor-content) {
    margin: 20px 0;
}
