.App-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 5vh;
    text-align: center;
}

.wrapper-class {
    background-color: aquamarine;
    padding: 1rem;
    border: 1px solid #ccc;
}
.editor-class {
    background-color: lightgray;
    border: 1px solid #ccc;
    padding: 0 16px;
}
.toolbar-class {
    border: 1px solid #ccc;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
}
