.styleBlockQuote {
    position: relative;
    color: #999;
    font-family: "Hoefler Text", Georgia, serif;
    font-style: italic;
    text-align: center;
    background-color: lightblue;
}

.styleBlockQuote::after {
    content: " ";
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: steelblue;
}
