.container {
    background-color: magenta;
    color: wheat;
    width: 10rem;
    height: 10rem;
    padding: 5rem;
    resize: horizontal;
    overflow: auto;
}

.sticky {
    /* position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px; */
    background-color: antiquewhite;
    position: sticky;
    position: -webkit-sticky;
}

.tukdd6b {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
}
