.container {
    width: 500px;
    height: 260px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .titles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    padding: 6px 10px;

    border-bottom: 1px solid rgba(55, 53, 47, 0.65);
}

.titles .title {
    padding: 4px 6px;
    border-radius: 2px;

    position: relative;
}

.titles .title:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.title .bar {
    position: absolute;
    width: 80%;
    height: 3px;
    background: black;

    left: 50%;
    bottom: 0;

    transform: translate(-50%, 7px);
}

.container .notifications {
    width: 100%;
    height: 100%;

    overflow: hidden auto;
    margin-top: 10px;
    padding: 10px;
}

.notifications .notification {
    padding: 10px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 10px;
}

.notification .options {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    gap: 10px;
}

.options .option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .empty {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: rgba(55, 53, 47, 0.65);
    padding: 30px 60px;
}

.empty .message {
    text-align: center;
}

.icon .inbox {
    display: block;
    font-size: 40px;
}

.container .notifies {
    width: 100%;
    height: 100%;

    overflow: hidden auto;

    background-color: #fff;
}

.notifies .notify {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    padding: 10px 16px;
}

.notifies .notify:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.notify .avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    color: #fff;

    border-radius: 50%;
}

.notify .notifyContent {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 8px;
}

.notifyContent .text {
    color: rgba(55, 53, 47, 0.65);
    font-weight: 500;
}

.notifyContent .time {
    color: rgba(55, 53, 47, 0.65);
    font-size: 12px;
}
