.topbar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 10px;
    /* border-bottom: 3px solid red; */
}

.topbar .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    font-weight: 300;
}

.topbar .expand {
    position: relative;
    width: 44px;
    height: 44px;
    transition: all 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: -6px;
}

.topbar .expand .faAngleDoubleRight {
    display: none;
}

.topbar .expand:hover .faAngleDoubleRight {
    display: block;
}

.topbar .represent {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    padding: 4px 8px;
    transition: all 0.5s ease;
}

.represent .title {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.represent .miniIcon {
    width: 12px;
    height: 12px;
}

.topbar .expand:hover .fabar {
    display: none;
}
