.react-resizable {
    position: relative;
}
.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    padding: 0 3px 3px 0;
    box-sizing: border-box;
    cursor: col-resize;
    background: red;
}

.resize-box {
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
}
