.container {
    width: 78px;

    transition: all 0.4s ease;
    position: relative;

    color: rgba(55, 53, 47, 0.65);
}

.container .containerA {
    position: absolute;
    width: 78px;
    height: 78px;

    top: 0;
    left: 0;

    transform: translateY(-50%);

    z-index: 10;
}

.containerA .avatar {
    width: 100%;
    height: 100%;

    z-index: 11;
}

.containerA .avatar:hover {
    cursor: pointer;
}

.wrapper {
    width: 408px;
}

.wrapper .wrapperOptions {
    display: flex;
    width: 100%;

    padding: 4px 6px;

    border-bottom: 1px solid grey;
}

.wrapperOptions .wrapperOption {
    position: relative;

    padding: 6px 8px;
    border-radius: 2px;

    font-size: 14px;
}

.wrapperOptions .wrapperOption:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.wrapper .textfield {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    padding: 8px 10px;
}

.textfield .random {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;
    border: 1px solid grey;
    border-radius: 2px;
}

.textfield .random:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.065);
}

.textfield .inputWrapper {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px 8px;
    gap: 6px;

    background-color: #f7f7f5;
    border-radius: 2px;
}

.inputWrapper .input {
    flex: 1;

    outline: none;
    border: none;

    background-color: inherit;
}
/* #f7f7f5 */
.inputWrapper .icon {
    display: block;
}

.avatarContainer {
    padding: 10px 12px;
    height: 260px;
    overflow-y: scroll;
}

.avatarWrapper .avatarTitle {
    font-size: 14px;
    font-weight: 600;
}

.avatarWrapper .avatarItems {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    margin-bottom: 8px;
}

.avatarItems .avatarItemContainer {
    padding: 4px;
    border-radius: 4px;
}

.avatarItems .avatarItemContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.avatarItemContainer .avatarItem {
    width: 24px;
    height: 24px;
}

.bar {
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 66%;
    height: 2px;

    transform: translate(-50%, 4px);

    background-color: black;
}
