.options {
    display: flex;
    align-items: center;

    padding: 6px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    border-bottom: 1px solid grey;
}

.options .option {
    padding: 4px 6px;
    border-radius: 2px;

    position: relative;
}

.options .option:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.option .optioned {
    position: absolute;

    width: 80%;
    height: 2px;
    background-color: black;

    left: 50%;
    bottom: -5px;

    transform: translate(-50%, 100%);
}

.tableCon {
    padding: 10px;

    height: 364px;
    overflow: auto scroll;
}

.tableCon .table {
    width: 100%;
    border: 1px solid grey;
    padding: 10px;

    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    border-collapse: collapse;
}

.table th {
    padding: 10px;
    padding-right: 14px;
}

.table td {
    border-top: 1px solid grey;
    padding: 10px;
    padding-right: 14px;
    white-space: nowrap;
}

.table tr:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

/* .table td:first-child {
    padding-left: 20px;
    padding-right: 0;
} */

.configs {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.changes {
    display: flex;
}

.iconCon {
    padding: 8px;
    border-radius: 50%;
}

.iconCon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.icon {
    display: block;
    font-size: 24px;
    border-radius: 50%;
}

.dis {
    pointer-events: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(55, 53, 47, 0.65);
}

.conn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    padding: 6px 20px;
}

.groupCon {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.popCon {
    padding: 4px;
}

.popOption {
    padding: 4px;
}

.popOption:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 20px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.button {
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    width: 80px;
    height: 42px;

    border: 1px solid grey;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
