.icon {
    display: block;
    padding: 4px;
    border-radius: 2px;
}

.icon:hover {
    cursor: pointer;
    background-color: #ccc;
}

.space-div {
    flex-grow: 1;
    flex-shrink: 1;
}

.container {
    display: flex;
}

.sidebar-container {
    /* border-right: 3px solid grey; */
    width: 220px;
    height: 100vh;
    max-height: 100vh;
    color: rgba(25, 23, 17, 0.6);
    font-weight: 500;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sidebar-absolute-container {
    position: absolute;
    width: 0;
}

.sidebar {
    font-size: 14px;
    transition: all 0.5s ease;
    width: 220px;
    height: 100vh;
    max-height: 100vh;
    background-color: #fbfbfa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.content-container {
    flex: 1;
    gap: 10px;
}

.content-container .topbar-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 45px;
}

.toggle-button-container {
    padding: 12px;
    margin-left: -12px;
    cursor: pointer;
}

.toggle-button-container:hover .fa-bar-icon {
    display: none;
}

.toggle-button-container:hover .fa-double-right {
    display: block;
}

.fa-bar-icon {
    display: block;
}

.fa-double-right {
    display: none;
}

.test {
    flex-shrink: 1;
    flex-grow: 1;
}

.editor-container {
    padding: 100px;
}

.user-info {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 2px;
    overflow: hidden;
}

.user-info:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.user-info .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 2px;
    color: #ccc;
    background-color: #00897b;
}
.sidebar:hover .fa-double-left {
    opacity: 1;
    transform: translateX(0);
}

.sidebar:hover .fa-double-left-container {
    width: 22px;
}

.user-info .user-name {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 110px;
    font-weight: 450;
}

.user-info .fa-double-left {
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.2s;
}

.fa-double-left-container {
    width: 0;
    transition: all 0.2s;
    overflow: hidden;
}

.sidebar-settings {
    padding: 0 4px;
}

.icon-container {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 2px;
}

.icon-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-container svg {
    font-size: 16px;
}

.icon-container span {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subject-container {
    margin-top: 20px;
    align-items: center;
    padding: 0 4px;
    font-size: 13px;
}

.subject ul {
    list-style: none;
    margin-left: -32px;
}

.subject-title {
    font-size: 11px;
    display: inline-block;
    padding: 1px 3px;
    border-radius: 2px;
    margin-left: 8px;
    margin-bottom: 6px;
}

.subject-title:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.subject-item {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 2px;
}

.subject-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.subject-item span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
}

.options-container {
    display: none;
    align-items: center;
}

.subject-item:hover span {
    width: 50%;
}

.subject-item:hover .options-container {
    display: flex;
}
