.container {
    position: relative;
}

.container .container-title {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 4px 10px;
}

.dropdown-container {
    position: absolute;
    display: none;
    margin-top: 10px;
    padding: 10px 8px;
    border-radius: 8px;
    color: rgba(55, 53, 47, 0.65);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 1s ease;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    transform: translateY(-30%);
    width: 300px;
}

.show {
    display: block;
}

.dropdown-container .dropdown-buttons {
    margin-top: 14px;
}

.dropdown-container .dropdown-title {
    padding: 2px 10px;
}

.dropdown-buttons .dropdown-button {
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-buttons .dropdown-button:hover {
    cursor: pointer;
    background-color: rgba(55, 53, 47, 0.08);
}

.dropdown-button .dropdown-button-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.dropdown-button-head img {
    width: 22px;
    border: 1px solid grey;
    padding: 4px;
    opacity: 0.6;
    border-radius: 4px;
}
