.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container .inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    gap: 4px;
    border-bottom: 0.1px solid rgba(55, 53, 47, 0.65);

    color: rgba(55, 53, 47, 0.65);
}

.inputContainer .input {
    flex-shrink: 1;
    flex-grow: 1;
}

.inputContainer .input input[type="text"] {
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
}

.inputContainer .times {
    transition: all 0.2s;
}

.container .options {
    max-height: 460px;
    overflow-y: scroll;
    margin-top: 10px;
}

.options .option {
    width: 100%;
}

.option .optionName {
    font-size: 12px;
    padding: 4px 20px;

    color: rgba(55, 53, 47, 0.65);
}

.option .projects {
    padding: 0 4px;
}

.projects .project {
    width: 100%;
    display: flex;
    align-items: center;

    gap: 14px;

    padding: 10px 20px;
    border-radius: 4px;
}

.projects .project:hover {
    cursor: pointer;
    background-color: rgba(55, 53, 47, 0.08);
}

.project .avatar {
    width: 18px;
    height: 18px;
    background: url(/public/Images/logos/emojis.png) 0% 1.6949% / 5900% 5900%;
}

.project .projectName {
    font-size: 16px;
}

.project .editTime {
    font-size: 12px;
    color: rgba(55, 53, 47, 0.65);
}
