.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .hidden {
    opacity: 0;
}

.container:hover .hidden {
    opacity: 1;
}

.container .show {
    opacity: 1;
}
