.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-a {
    display: flex;
}

.tet-container {
    flex: 1;
    background: khaki;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
